@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {/*Imatge de fons*/
        background-image: url("assets/sprites/space.png");
    }
    
    #centrar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size:contain
    }
    
    .grid {
        width: 500px;
        height: 500px;
        border: 2px solid #0b753b;
        box-shadow: 0 0 10px #0b753b, 
                    0 0 30px #0b753b, 
                    0 0 60px #0b753b; 
        border-radius: 20px; 
        display: flex;
        flex-wrap: wrap;
        background-color: black;
    }
        
    .grid div {
        width: 33.33px; 
        height: 33.33px; 
    }
    
    .invader {/*Estil invader*/
        background-image: url('assets/sprites/invader.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .shooter {/*Estil per el jugador*/
        background-image: url('assets/sprites/shooter.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .laser {/*Estil de raig per el laser*/
        background-image: url('assets/sprites/laserShooter.png');
        background-repeat: no-repeat;
        background-size: contain;    
    }

    .laserInvader {
        background-image: url('assets/sprites/laserInvader.png');
        background-repeat: no-repeat;
        background-size: contain;    
    }
    
    .boom { /*Estil per quan mor un invader*/
        background-image: url('assets/sprites/boom.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .results { /* Estil per el resultat */
        font-size: 2em;
        color: #000;
        background-color: #777; 
        padding: 10px;
        border-radius: 5px;
    }
    
    #restart { 
        border: 2px solid #0b753b;
        box-shadow: 0 0 10px #0b753b, 
                    0 0 30px #0b753b, 
                    0 0 60px #0b753b; 
        border-radius: 20px; 
    } 